

    <div id="main">   
    </div>
    <div class="collection-pormotion">
       
        <div class="floatingText">
            <div class="title">the new</div>
            <div class="title">spring summer '22 collection</div>
            <div class="shop-now">shop now for <a href="womens">Women</a>, <a href="mens">Men</a>, <a href="girls">Girls</a> and <a href="boys">Boys</a></div>

        </div>
    </div>

    <div class="womanKidsMen">
        <div class="women">
            <div class="store">women beachwear</div>
        </div>
        <div class="kids">
            <div class="store">kids beachwear</div>
        </div>
        <div class="men">
            <div class="store">mens beachwear</div>
        </div>

    </div>

    <h2>New BestSellers</h2>

    <div class="bestSellers">
        <img src="./Images/bestsellers/trousers.webp">
        <img src="./Images/bestsellers/dress.webp">
        <img src="./Images/bestsellers/bikini.webp">
        <img src="./Images/bestsellers/bottoms.webp">
        <img src="./Images/bestsellers/jumpsuit.webp">
        <img src="./Images/bestsellers/bra.webp">
        <img src="./Images/bestsellers/vest top.webp">

    </div>

    <div class="big_img">
        <div class="mix_match">            
            <div class="title1">mix_match</div>
        </div>

        <div class="cycling">
            <div class="title1">cycling</div>
        </div>
    
        
    </div>
    
    <h2>New BestSellers</h2>

    <div class="categories">
        <img src="./Images/catagories/bikini.webp" >
        <img src="./Images/catagories/Bshirts.webp" >
        <img src="./catagories/Mshirts.webp" >
        <img src="./Images/catagories/Mshorts.webp" >
        <img src="./Images/catagories/Wdress.webp" >
        <img src="./Images/catagories/Wskirts.webp" >
        <img src="./Images/catagories/Wtops.webp" >
        <img src="./Images/catagories/Wtrowsers.webp" >

    </div>

    
    
    