<div class="back">
    <div id="userLog">
        <div id="loglable">Please typer your name</div>
        
        <label class="name">Name</label>
        <input type="password" id="logname" name="UsernameID">

        <button id="Loginbu">Login</button>

    </div>
</div>

<script src="Javascript/login.js"></script>