* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    margin: 0px;
    font-size: 16px;
    color: rgb(33, 56, 117);
    font-family: FuturaPT, "Futura PT", Futura, "Trebuchet MS", Arial, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

#main{
    color: rgb(33, 56, 117);
}


.deals ul{
    list-style:none;
    padding: 10px;    
    background: rgb(33, 56, 117);
    color: #ffffff;
    top: 0;
    left: 0;
    right: 0;    
    align-items: center;
    text-align: center;
    display: flex;    
    justify-content:space-evenly;
    padding-left: 10%;
    padding-right: 10%;
}

.navbar{
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: sticky;    
    display: flex;   
    justify-content: space-between;
    height: 70px;    
    z-index: 97;
    border-top: 1px solid rgb(222, 225, 234);
    border-bottom: 1px solid rgb(222, 225, 234);
    top: 0px;    
    text-transform: uppercase;
}

.navbar ul{
    display: flex;
    list-style: none;
}

.navbar li{
    padding: 20px;
    border-left: 1px solid rgb(222, 225, 234);
}

.left-nav{
    display: flex;
    min-height: 100vh;
    flex-direction: column;    
}


.center-nav{
    background-color: rgb(255, 255, 255);     
    place-items: center;
    padding: 10px;
}

.right-nav{
    background-color: rgb(255, 255, 255);    
    display: flex;   
    z-index: 1;
}

.inner_grid{
    display: flex;
    /* grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr); */
}

.storeList{
    font-size: large;
    justify-content: left;
}

.secondRow{
    flex-wrap: ;
}



.menu{
    opacity: 0;   
    background: rgb(255, 255, 255);
    position: absolute;
    top: 100%;
    left: 0;    
    width: 200%;
    height: 500px;
    z-index: 1;
    transition: opacity 0.5s linear;
    
}

.menu.active{
    opacity: 1;
}

.menubutton{      
    font: inherit;
    margin: 0px;
    display: grid;
    place-items: center;
    cursor: pointer;
    padding: 23px 32px;
    border-right: 1px solid rgb(222, 225, 234);
    z-index: 1;
}
  
.deals ul li:before {
    content: '✓ ';
}

.logo{
    height: 100%;
    color: rgb(33, 56, 117);
}

.collection-pormotion{    
    background-image: url('../Images/resize.webp'); 
    background-size: cover; 
    display: flex;  
    justify-content: center;
    width: auto;
    height: 98vh;
}

.floatingText{   
    position:absolute; 
    height: 300px;
    width: 70%;
    padding: 16px;
    text-align: center;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.4);
    left: 15%;;
    top: 50%;
    z-index: 1;
}

.title1 {
    font-size: 60px;
    font-family: FuturaPT, "Futura PT", Futura, "Trebuchet MS", Arial, sans-serif;
    line-height: 1;
    text-transform: uppercase;
    color: #ffffff;
}

.title2 {
    font-size: 60px;
    font-family: FuturaPT, "Futura PT", Futura, "Trebuchet MS", Arial, sans-serif;
    line-height: 1;
    text-transform: uppercase;
    color: #ffffff;
}

.shop-now {
    font-size: 20px;
    font-family: FuturaPT, "Futura PT", Futura, "Trebuchet MS", Arial, sans-serif;
    line-height: 1;
    text-transform: uppercase;
    color: #ffffff;
    padding-top: 40px;
}

.womanKidsMen{    
    background-color: #ffffff;       
    align-items: center;       
    justify-content:space-evenly;
    display: grid;
    grid-template-columns: repeat(3, 1fr);    
}

.women{
    
    background-image: url('../Images/woman.webp');
    height: 300px;    
    background-size: cover;
    margin: 50px;
    
}

.kids{
    background-image: url('../Images/kids.webp');
    height: 300px;    
    background-size: cover;
    margin: 50px;
}

.men{
    background-image: url('../Images/men.webp');
    height: 300px;    
    background-size: cover;
    margin: 50px;
    
}

.womanKidsMen div{    
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    display: flex;
    padding: 10px;
    cursor: pointer;
}

.store{
    text-align: center;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.4);
    font-size: 30px;
    height: 20%;
}

.big_img{    
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 150vh;
    padding-bottom: 50px;
}

.mix_match{
    background-image: url('../Images/mix&mach.webp');
    background-size: cover;
    height: 100%;
    
}

.cycling{
    background-image: url('../Images/cycling.webp');
    background-size: cover;
    height: 100%;
}

.bestSellers{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    height: 500px;
    padding: 50px;
}

.bestSellers img{
    height: 400px;
    padding-left: 10px;
    padding-bottom: 50px;
}

h2{
    size: 50PX;
    padding-left: 40px;
    
}

.categories{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    height: 1000px;
    padding: 50px;
}

.categories img{
    height: 1000px;
    padding-left: 10px;
    padding-bottom: 100px;
}

footer{
    background-color: blue;
    height: 500px;
    text-align: center;
    
}

h3{
    color: #ffffff;
}








