* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root{
    --main-bg-colour:#e0e1df;
    --main-brand-colour:#53624e;

}

body{
    background: #e0e1df;
    padding: 40px;
}

#main{
    color: #53624e;
}

.navbar{
    padding: 10px 40px;
    position: fixed;
    background: #e0e1df;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    align-items: center;
}

.tree{
    margin-left: auto;
    margin-right: auto;
}

.menu{
    font-size: 32px;
    padding-left: 30px;
}

.heading{
    margin-top: 150px;
    font-size: 70px;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 1px solid #53624e;
    margin-bottom: 40px;
}

.heading div{
    border-top: 1px solid #53624e;
    padding: 20px;
    
}

.heading div span{
    text-transform: lowercase;
    font-style: italic;
}

.reserve_button, .reservations{
    font-size: 14px;
}

.reserve_button{
    text-transform: uppercase;
    color: #e0e1df;
    background: #53624e;
    padding: 20px 30px;
    display: inline-block;
    border: 1px solid #53624e;
}

.reservations ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-bottom: 40px;

}

.reservations ul li{
    padding: 30px;
    border: 1px solid #53624e;
    text-align: center;
    position: relative;
}

.calender{
    display: none;
    background: red;
    position: absolute;
    height: 100px;
    bottom: -100px;
    left: 0;
    right: 0;
    width: 200%;
}

img{
    width: 100%;
}

@media (max-width: 900px){
    .tree{
        visibility: hidden;
    }

    .reservations{
        display: none;
    }

    .heading div{
        font-size: 12vw;
    }
}
